*.iml
.idea/
/pkg/mod/cache/download/github.com/tomdotorg/go-tutorial/greetings/@v/list
/pkg/mod/cache/download/github.com/tomdotorg/go-tutorial/greetings/@v/list.lock
/pkg/mod/cache/download/github.com/tomdotorg/go-tutorial/greetings/@v/v0.0.0-20210724110757-1ac69557c192.mod
/pkg/mod/cache/lock
